@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:700&display=swap');

#main-page{
    overflow: auto;
}

.episodes-holder{
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.episode-card{
    width: 400px;
    background-color: aliceblue;
    margin-bottom: 20px;
    border-radius: 10px;
}

.ep-title{
    width: 100%;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}

.ep-cover-image{
    width: 100%;
}

.ep-description{
    padding-left: 10px;
    padding-right: 10px;
}