@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lemonada&display=swap');

#main-page{
  background-image: url(./Images/bg.jpg);
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.addTaskForm{
  width: 50%;
  height: 100px;
  margin-top: 50px;
  margin-left: 25vw;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.inputTask{
  width: 80%;
  height: 30px;
  outline: none;
  padding-left: 15px;

  border: none;
  border-radius: 15px;
}

.addButton{
  width: 100px;
  height: 30px;
  outline: none;

  border: none;
  border-radius: 15px;
  background-color: azure;
}

.addButton:hover{
  background-color: rgba(240, 248, 255, 0.904);
}

.task-list{
  width: 50%;
  height: 75vh;
  margin-top: 0;
  margin-left: 25vw;
  padding-top: 10px;

  border-radius: 15px;

  background-color: aliceblue;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  font-family: 'Lemonada', cursive;
}

nav{
  top: 0; margin: 0; padding: 0;
  position: fixed;
  width: 100%;
  height: 30px;
  padding-top: 5px;
  background-color: rgb(0,0,0 , 0.5);
}

.nav-list{
  float: right;
  margin: 0;
}

.nav-item{
  display: inline-block;
}

.nav-item a{
  padding: 0 20px 10px;
  height: 30px;
  font-family: 'Roboto Mono', monospace;
  color: aliceblue;
  text-decoration: none;
}

.nav-item a:hover{
  border-bottom: 1px solid aliceblue;
}